.guides-list-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.guides-list-wrapper a {
    max-width: 30%;
}

.guides-list-wrapper img {
    max-width: 100%;
}
