.items-list-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.items-list-wrapper a {
    max-width: 30%;
}

.items-list-wrapper img {
    max-width: 100%;
}

.items-list-wrapper img:hover {
    outline: 2px solid #9a8866;
}
