.loyalty-level-parent {
    filter: drop-shadow(2px 3px 1px rgb( from var(--color-black) r g b / 0.5));
    left: 2px;
    position: absolute;
    top: 2px;
    width: 20px;
}

.loyalty-level-wrapper {
    background-color: var(--color-white);
    clip-path: polygon(100% 0, 100% 70%, 70% 100%, 0 100%, 0 0);
    color: var(--color-black);
    font-weight: 700;
    text-align: center;
}
