.moobot-page-wrapper {
    max-width: 900px;
}

.moobot-page-wrapper img {
    max-width: 100%;
    height: auto;
}

.moobot-page-wrapper pre {
    white-space: pre-wrap;
}

@media screen and (width >= 800px) {
    .moobot-page-wrapper pre {
        white-space: pre;
    }
}
