deploy:
    provider: pages
    skip_cleanup: true
    github_token: $ACCESS_TOKEN  # Set in the settings page of your repository, as a secure variable
    keep_history: true
    local_dir: build
    on:
      branch: master
