.quest-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quest-image-wrapper {
    margin-right: 10px;
    height: 34px;
    width: 34px;
}

.quest-image-wrapper img {
    border: 1px solid #4a5154;
}

.amount-wrapper,
.found-in-raid-wrapper {
    color: #636363;
    font-size: 14px;
}

.found-in-raid-wrapper.find-in-raid {
    color: #cd1e2f;
}