ul.quest-item-list {
    list-style: none;
    padding: 0px;
}

ul.quest-item-list li {
    display: inline-block;
    padding-left: 2px;
}

.quest-list-item {
    padding-bottom: 5px;
}

.task-details-heading {
    font-size: xx-large !important;
}

.hover-item-name {
    color: var(--color-gold-two);
}

.quest-font {
    font-size: 36px;
    font-weight: bold;
}

.quest-icon {
    width: 64px;
    height: 64px;
}

.objective-details {
    margin-left: 20px;
    padding: 10px;
    background-color: rgb(0 0 0 / 0.25);
}

.entity-top-content .task-connections {
    /* border: 3px solid #fff; */
    padding: 0px 20px 5px;
}

.task-connections h3 {
    margin-top: 0px;
}

.related-quests {
    max-height: 200px;
    overflow-y: scroll;
}

.entity-top-content .related-quests {
    width: 50%;
    float: left;

    /* padding: 20px;
  border: 2px solid red; */
}

.entity-top-content div.related-quests:first-child:nth-last-child(3),
.entity-top-content div.related-quests:first-child:nth-last-child(3) ~ div {
    width: 33%;
}

.class-status-list svg.icon-with-text {
    margin-left: 1px;
    margin-right: 1px;
}

@media screen and (width <= 960px) {
    .entity-top-content div.related-quests:first-child:nth-last-child(3),
    .entity-top-content div.related-quests:first-child:nth-last-child(3) ~ div {
        width: 33%;
    }
}

@media screen and (width <= 750px) {
    .entity-top-content div.related-quests:first-child:nth-last-child(3),
    .entity-top-content div.related-quests:first-child:nth-last-child(3) ~ div {
        width: 50%;
    }
}
