.menu,
.navigation {
    background-color: #2d2d2f;
}

.navigation {
    align-items: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    color: #9a8866;
    display: flex;
    font-size: 40px;
    gap: 10px;
}

.navigation a,
.navigation button {
    border-radius: 0;
    border: 0;
    color: #9a8866;
    text-align: left;
    /* text-decoration: none; */
    white-space: nowrap;
    padding: 2px 5px;
}

.logo-padding {
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu {
    align-items: center;
    display: none;
    font-size: 34px;
    gap: 10px;
    justify-content: end;
    line-height: 1;
    margin-top: -10px;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.menu.open {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    display: block;
    padding: 20px 20px 20px 20px;
    position: absolute;
    top: 72px;
    z-index: 10;
}

.menu ul {
    list-style-type: none;
}

.menu a,
.menu li,
.menu span {
    display: block;
    text-align: left;
}

.mobile-icon {
    font-size: 0;
}

.mobile-icon svg {
    fill: #9a8866;
    height: 54px;
}

.App.connected .menu {
    display: none;
}

.branding {
    border-radius: 0;
    font-size: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 10px;

    /* font-size: 40px; */
}

.menu button {
    font-size: 20px;
}

.menu .submenu-wrapper {
    /* background-color: #000; */
    border-radius: 0;
    font-size: 20px;
    position: relative;
}

.menu .submenu-wrapper ul {
    background-color: #2d2d2f;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: none;
    left: 0;
    list-style: none;
    padding: 10px;
    position: absolute;
    z-index: 2;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    top: 24px;
}

.submenu-wrapper li {
    align-items: center;
    display: flex;
}

.submenu-wrapper input {
    cursor: pointer;
}

.menu .submenu-wrapper ul a {
    border-radius: 0;
}

.menu a:hover,
.menu button:hover,
.menu .submenu-wrapper:hover {
    cursor: pointer;
}

.menu .submenu-wrapper:hover > a {
    color: #000;
    color: #bdbbaa;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}

.menu .submenu-wrapper:hover ul {
    display: block;
}

.menu li:hover button {
    cursor: pointer;
}

.external-link {
    border-radius: 0;
}

.menu .last-link {
    position: relative;
}

.menu svg {
    height: 20px;
    width: 20px;
}

.menu .last-link:hover .supporters-wrapper {
    display: block;
}

.supporters-wrapper {
    background-color: #000;
    border-radius: 0;
    color: #fff;
    cursor: default;
    display: none;
    position: absolute;
    right: 0;
    top: 28px;
    z-index: 1;
}

li.desktop-only-link {
    display: none;
    position: relative;
    bottom: 2px;
}

.menu li.only-large {
    display: none;
}

@media only screen and (min-width: 1100px) {
    .branding {
        margin-right: 0;
    }

    .mobile-icon,
    .mobile-only-link {
        display: none;
    }

    li.desktop-only-link {
        display: block;
    }

    .menu {
        display: flex;
        font-size: 20px;
        margin: 0;
        /* width: auto; */
    }

    .menu > li {
        border-width: 0 1px 0 0;
    }
}

@media screen and (min-width: 1400px) {
    .menu li.only-large {
        display: flex;
    }
}
