.cost-item-wrapper {
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;
}

.cost-image-wrapper img {
    width: 32px;
    height: 32px;
}

.cost-item-wrapper.disabled img {
    filter: grayscale(100%);
}

.cost-item-wrapper.disabled::after {
    background-color: rgb(from var(--color-black) r g b / 0.3);
    inset: 0 0 0 0;
    content: ' ';
    position: absolute;
}

.cost-item-count-wrapper {
    color: var(--color-gold-one);
}

.cost-image-wrapper {
    font-size: 0;
    margin-right: 10px;
}

.cost-item-text-wrapper {
    flex-grow: 1;
    white-space: nowrap;
}
