/* Main page wrapper */
.boss-page-wrapper {
  margin: 0 auto 100px auto;
  max-width: 1200px;
  padding-top: 10px;
  position: relative;
}



.information-section {
    background: #0000001a;
    border: 1px solid #ffffff1a;
    border-radius: 0 20px 0 20px;
    margin-bottom: 50px;
    overflow: hidden;
}
.information-section.has-table {
  border-radius: 0 20px 0 0;
}

.information-section h2 {
    font-size: 24px;
    margin: 0;
    padding: 10px 20px;
    background: #0000004d;
    color: #c7c5b3;
}



/* Top Section */
.boss-information-wrapper {
    display: flex;
    background: #0000001a;
    border: 1px solid #ffffff1a;
    margin-bottom: 50px;
    overflow: hidden;
}

.boss-icon-and-link-wrapper {
    display: flex;
    min-width: 300px;
    width: 300px;
    height: 100%;
    flex: 1 auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    border-right: 1px solid #9a8866;
    margin-right: 20px;
}

.boss-top-content {
    display: flex;
    flex-direction: column;
}
.boss-top-content .title-bar {
    background: #0000004d;
}

.boss-top-content .title-bar h1 {
    color: #c7c5b3;
    padding: 10px 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
}

@media screen and (min-width: 800px) {
    .boss-page-wrapper {
        padding-top: 20px;
    }

    .boss-information-wrapper {
        flex-grow: 1;
    }

    .boss-information-grid {
        display: flex;
    }

    .boss-information-grid h1 img {
        display: none;
    }

    .boss-details {
        margin-right: 1em;
    }

    .boss-information-grid h1,
    .boss-icon-and-link-wrapper {
        margin: 0;
    }
}