.boss-information-wrapper {
    display: flex;
    background: #0000001a;
    border: 1px solid #ffffff1a;
    margin-bottom: 50px;
    overflow: hidden;
}

.boss-page-wrapper {
    margin: 0 auto 100px auto;
    max-width: 1200px;
    padding-top: 10px;
    position: relative;
}

.boss-page-wrapper h2 {
    margin-top: 40px;
    font-size: 24px;
}

.boss-information-grid h1 {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.boss-information-grid h1,
.boss-icon-and-link-wrapper {
    margin: 0 0 10px 0;
}

.boss-information-icon {
    width: 64px;
    height: 64px;
    cursor: zoom-in;
}

.boss-icon-and-link-wrapper {
    display: inline-block;
    width: 100px;
    height: 100%;
    flex: 1 auto;
    background-size: cover;
    background-position: center center;
    display: flex;
}

@media screen and (min-width: 800px) {
    .boss-page-wrapper {
        padding-top: 20px;
    }

    .boss-information-wrapper {
        flex-grow: 1;
    }

    .boss-information-grid {
        display: flex;
    }

    .boss-information-grid h1 img {
        display: none;
    }

    .boss-details {
        margin-right: 1em;
    }

    .boss-information-grid h1,
    .boss-icon-and-link-wrapper {
        margin: 0;
    }
}