.item-page-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}

.icon-and-link-wrapper {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-grow: 1;
    right: 0;
    top: 0;
}

.icon-and-link-wrapper canvas {
    margin-right: 10px;
}

.icon-and-link-wrapper img {
    max-height: 50px;
}

.icon-and-link-wrapper a {
    display: block;
    text-align: right;
    width: 100%;
}

.information-grid {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.information-grid h1,
.icon-and-link-wrapper {
    margin: 20px 0 0 0;
}

.tooltip-calculation {
    display: flex;
}

.tooltip-price-wrapper {
    flex-grow: 1;
    margin-left: 10px;
    text-align: right;
}

.text-information-wrapper {
    margin-left: auto;
}

.text-and-image-information-wrapper {
    margin-top: 10px;
}

.text-and-image-information-wrapper:first-child {
    margin-left: 0;
    flex-basis: 0%;
}

.text-and-image-information-wrapper img {
    height: 86px;
    width: 86px;
}

.text-and-image-information-wrapper .warning-icon {
    height: 14px;
    width: 14px;
    vertical-align: text-bottom;
    position: relative;
    bottom: 2px;
    margin-right: 5px;
}

.text-and-image-information-wrapper .price-wrapper {
    text-align: center;
    width: 100%;
}

.text-and-image-information-wrapper.best-profit .price-wrapper {
    color: #c7c5b3;
}

.text-and-image-information-wrapper.price-info-wrapper {
    align-items: center;
    display: flex;
    text-align: left;
    flex-basis: 80%;
}

.text-and-image-information-wrapper.first-trader-price {
    /* margin-left: auto; */
}

@media screen and (min-width: 900px) {
    .text-and-image-information-wrapper.price-info-wrapper {
        flex-basis: auto;
        flex-grow: 1;
    }

    .text-and-image-information-wrapper {
        margin: 10px;
    }

    .icon-and-link-wrapper img {
        max-height: 200px;
    }
}