.hideout-item-list {
    border-collapse: collapse;
    width: 100%;
}


.hideout-item-list-row {
    border-left: 4px solid #1b1919;
    border-right: 4px solid #1b1919;
}

.hideout-item-list-column {
    background-color: #292626;
    border-top: 4px solid #1b1919;
    border-bottom: 4px solid #1b1919;
    padding: 5px 15px;
}

.hideout-item-list-column:first-child {
    width: 70%;
}

.hideout-item-wrapper {
    display: flex;
    justify-content: start;
    margin-bottom: 5px;
}

.hideout-item-image-wrapper {
    margin-right: 10px;
}

.hideout-item-image-wrapper img {
    width: 34px;
    border: 1px solid #4a5154;
}

.amount-wrapper {
    color: #636363;
}
