/* .data-table td.data-cell {
    padding: 10px 0;
}

.item-table-name-wrapper {
    align-items: center;
    display: flex;
}

.item-table-image-wrapper {
    margin-right: 10px;
}

.data-table .table-image {
    border: 1px solid #4a5154;
}

.data-table .trader-icon {
    max-width: 40px;
}

.data-table .trader-price-content {
    align-items: center;
    display: flex;
    gap: 15px;
} */