.small-item-table-description-wrapper {
    align-items: center;
    display: flex;
}

.small-item-table-image-wrapper {
    margin-right: 10px;
}

.small-item-table-image-wrapper img {
    width: 32px;
    height: 32px;
}