.small-item-table-description-wrapper {
    align-items: center;
    display: flex;
}

.small-item-table-image-wrapper {
    margin-right: 10px;
}

.small-item-table-image-wrapper img {
    width: 32px;
    height: 32px;
}

.small-item-table-name-wrapper cite {
    display: none;
}

.item-image-fir {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 4px;
}

@media screen and (min-width: 800px) {
    .small-item-table-image-wrapper img {
        width: 64px;
        height: 64px;
    }

    .small-item-table-name-wrapper cite {
        display: block;
    }
}