/*** Quest-Search Leaflet Module ***/
.pulse {
  animation: pulse .75s infinite alternate;
}

.maps-search-wrapper {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  background-color: transparent !important;
}

.maps-search-wrapper-search-bar {
  min-width: 250px;
}

.maps-search-wrapper-info {
  margin: 5px 0px;
  font-size: 12px;
}

@keyframes pulse {
  from { opacity: .75; } 
}