/*** Pulse Animation for Markers searched by Quest Search ***/
.pulse {
  animation: pulse .75s infinite alternate;
}

input#map-search-bar {
  width: 250px;
}

@keyframes pulse {
  from { opacity: .75; } 
}