.hidden {
    display: none;
}

.item-cost-custom-price {
    background-color: var(--background-primary);
    border: var(--color-gold-one) 2px solid;
    color: var(--color-gold-one);
    padding: 4px;
    width: 5em;
}

.item-cost-cash-sell {
  color: #c89898;
}

.item-cost-muted-green {
    color: var(--color-muted-green);
}

.item-cost-muted-red {
    color: var(--color-muted-red);
}

.item-cost-barter-icon {
    border: 0;
    position: relative;
    top: 2px;
    width: 14px;
    margin-right: 3px;
}

.craft-barter-icon {
    vertical-align: middle;
    margin-right: 3px;
}