.settings-group-wrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 45px;
    flex-flow: wrap;
    justify-content: space-around;
}

.settings-group-wrapper h2 {
    width: 100%;
}

.toggle-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (min-width: 1040px) {
    .settings-group-wrapper {
        justify-content: flex-start;
    }
}
