/* leaflet-control-coordinates */
.leaflet-control-coordinates {
    color: #000000;
    font-weight: bold;
}

.leaflet-control-coordinates {
	background-color:#D8D8D8;
	background-color:rgba(255, 255, 255, 0.8);
	cursor:pointer;
}

.leaflet-control-coordinates,
.leaflet-control-coordinates .uiElement input {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.leaflet-control-coordinates .uiElement {
	margin:4px;
}

.leaflet-control-coordinates .uiElement .labelFirst {
	margin-right:4px;
}

.leaflet-control-coordinates .uiHidden{
	display:none;
}

.leaflet-control-coordinates .uiElement.label {
	color:inherit;
	font-weight: inherit;
	font-size: inherit;
	padding: 0;
	display: inherit;
}
/* leaflet-control-coordinates */

/* leaflet-control-groupedlayer */
.leaflet-control-layers-group-name {
    font-weight: 700;
    margin-bottom: 0.2em;
    margin-left: 3px;
}
.leaflet-control-layers-group {
    margin-bottom: 0.5em;
}
.leaflet-control-layers-scrollbar {
    overflow-y: scroll;
    padding-right: 10px;
}
.leaflet-control-layers-group-label {
    margin-bottom: 2px;
}
.leaflet-control-layers-group-selector, .leaflet-control-layers-selector {
    vertical-align: top;
}
.leaflet-control-layers-group label:not(.leaflet-control-layers-group-label) {
    text-indent: 15px;
}
.leaflet-control-layers-group.group-collapsable.collapsed .leaflet-control-layers-group-collapse,
.leaflet-control-layers-group.group-collapsable:not(.collapsed) .leaflet-control-layers-group-expand,
.leaflet-control-layers-group.group-collapsable.collapsed label:not(.leaflet-control-layers-group-label){
    display: none;
}
.leaflet-control-layers-group-expand-default:before{
    content: "+"; 
    width: 12px; 
    display: inline-block; 
    text-align: center;
}
.leaflet-control-layers-group-collapse-default:before{
    content: "-"; 
    width: 12px; 
    display: inline-block; 
    text-align: center;
}
/* leaflet-control-groupedlayer */
.control-item-image {
    height: 14px;
    position: relative;
    top: 2px;
}

/* elevation visability */

.leaflet-layer.off-level > .leaflet-tile-container,
div.leaflet-pane.leaflet-overlay-pane > img.off-level {
    opacity: 20%;
}

div.awesome-marker.off-level {
    opacity: 20%;
    z-index: -9999 !important;
}

div.leaflet-pane.leaflet-marker-pane > .off-level {
    opacity: 20%;
    z-index: -9999 !important;
}

div.leaflet-overlay-pane > svg.leaflet-zoom-animated > g > path.off-level {
    stroke-opacity: 20%;
    fill-opacity: 2%;
}

.not-shown {
    display: none;
}

.leaflet-container .leaflet-marker-pane .extract-icon img {
    max-width: 24px !important;
    max-height: 24px !important;
}

.extract-icon {
    display: inline;
    white-space: nowrap;
}

.extract-name {
    font-weight: 900;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    white-space: nowrap;
    text-transform: uppercase;
    vertical-align: top;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.extract-name.pmc {
    color: #00e599;
}

.extract-name.scav {
    color: #ff7800;
}

.extract-name.shared {
    color: #00e4e5;
}

.poi-image, img.popup-item {
    max-width: 24px;
    max-height: 24px;
    vertical-align: middle;
}

.poi-link {
    cursor: pointer;
}
