.small-data-table.no-borders td.data-cell:first-child {
    border-left: 0;
}

.small-data-table.no-borders td.data-cell:last-child {
    border-right: 0;
}

.small-data-table td.data-cell {
    padding: 10px;
}

.small-item-table-description-wrapper {
    align-items: center;
    display: flex;
}

.small-item-table-image-wrapper {
    margin-right: 10px;
}

.small-item-table-image-wrapper img {
    height: 32px;
    width: 32px;
}

.small-data-table .table-image {
    border: 1px solid #4a5154;
}

.small-data-table .trader-icon {
    max-width: 40px;
}

.small-data-table .trader-price-content {
    align-items: center;
    display: flex;
    gap: 15px;
}

.small-item-table-name-wrapper cite {
    display: none;
}

/* .small-data-table tr,
.small-data-table td {
    display: block;
}

@media screen and (min-width: 700px) {
    .small-data-table tr {
        display: table-row;
    }

    .small-data-table td {
        display: table-cell;
    }
} */

@media screen and (min-width: 900px) {
    .small-item-table-image-wrapper img {
        height: 64px;
        width: 64px;
    }

    .small-item-table-name-wrapper cite {
        display: block;
    }
}
