.search-button {
    padding: .2rem;
    border-radius: 4px;
}

.search-button:disabled {
    background-color: #9a886655;
    color: #333;
}

.search-controls {
    display: flex;
}

.search-controls input {
    margin-right: 10px;
    width: 264px;
}

.turnstile-widget {
    margin-top: 20px;
}

.error {
    color: #cd1e2f;
}

.name-results-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.game-mode .select__control {
    color: #1b1919;
    background-color: #2d2c2e;
    border-color: #9a8866;
}

.game-mode .select__single-value {
    color: #fff;
}
