.search-button {
    padding: 0.2rem;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:disabled {
    opacity: 0.5;
    position: relative;
    cursor: not-allowed;
}

.search-button:disabled::before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background-color: rgb(0 0 0 / 0.3);
    border-radius: 4px;
    pointer-events: none;
}

.search-controls {
    display: flex;
}

.search-controls input {
    margin-right: 10px;
    width: 264px;
}

.turnstile-widget {
    margin-top: 20px;
}

.error {
    color: var(--color-red);
}

.name-results-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.basic-multi-select.game-mode {
    margin-left: 10px;
}

.game-mode .select__control {
    color: var(--color-gray);
    background-color: var(--color-gunmetal-dark);
    border-color: var(--color-gold-two);
}

.game-mode .select__single-value {
    color: var(--primary-color-white);
}
