.barter-reward-wrapper {
    display: flex;
}

.barter-reward-image-wrapper {
    margin-right: 10px;
}

.barter-reward-info-wrapper {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

.barter-reward-info-wrapper > div {
    width: 100%;
}