.quest-list table {
    border-collapse: collapse;
    width: 100%;
}

.quest-name-wrapper {
    display: flex;
    align-items: center;
}

.quest-giver-image {
    margin-right: 10px;
    max-width: 64px;
    max-height: 64px;
}

.quest-list thead {
    background: rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
}

.quest-list th {
    padding: 20px 0;
}

.quest-list tr {
    border-left: 4px solid #1b1919;
    border-right: 4px solid #1b1919;
}

.quest-list td {
    background-color: #2d2d2f;
    border-top: 4px solid #1b1919;
    border-bottom: 4px solid #1b1919;
    padding: 5px 15px;
}

.quest-list-extra-row {
    height: 69px;
    text-align: center;
}

.quest-link-wrapper {
    align-items: center;
    display: flex;
}

.quest-link-wrapper a {
    display: flex;
}
