.item-image-mask {
    background: linear-gradient(to left, var(--color-gold-two) 20%, var(--color-gold-one) 40%, var(--color-gold-one) 60%, var(--color-gold-two) 80%);
    background-size: 200% auto;
    width: 200px;
    height: 200px;
    opacity: 0.9;
    animation: shine 1s linear infinite;
}

@keyframes shine {
    to {
        background-position: -200% center;
    }
}

@keyframes shine {
    to {
        background-position: -200% center;
    }
}

.react-simple-image-viewer__modal-content img {
    max-width: 100% !important;
    max-height: 100% !important;
}

.item-image-fir {
    max-width: 16px;
    max-height: 16px;
}

.item-image-count {
    background-color: rgb(from var(--color-black) r g b / 0.8);
    border-top-left-radius: 3px;
    color: var(--color-gold-one);
    font-size: 14px;
    height: 18px;
    line-height: 20px;
    padding: 0 5px;
    text-align: center;
}
