.item-image-text {
    position: absolute;
    top: 2px;
    right: 5px;
    cursor: default;
    color: #a4aeb4;
    font-weight: bold;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.item-image-mask {
    background: linear-gradient(to left, #9a8866 20%, #c7c5b3 40%, #c7c5b3 60%, #9a8866 80%);
    background-size: 200% auto;
    width: 200px;
    height: 200px;
    opacity: 0.9;

    -webkit-animation: shine 1s linear infinite;
            animation: shine 1s linear infinite;
}
@-webkit-keyframes shine {
    to {
        background-position: -200% center;
    }
}
@keyframes shine {
    to {
        background-position: -200% center;
    }
}
