.duration-wrapper, .finish-wrapper {
    color: #636363;
    font-size: 14px;
}

.finish-wrapper {
    cursor: pointer;
}

.price-wrapper-tool {
    color: #0292c0;
    font-size: 14px;
}

.table-image-tool {
    border: 1px solid #0292c0;
}
