.property-list {
    display: flex;
    flex-flow: wrap;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.property-wrapper {
    display: flex;
    align-items: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--background-primary);
    border: 1px solid #1b1919;
    flex-basis: calc(50% - 2.5px);
    padding: 10px 20px;
    flex: 1 auto;
}

.property-wrapper.large {
    min-width: 100%;
    max-width: none;
}

.property-wrapper.health {
  max-width: 160px;
}

.property-key-wrapper {
    cursor: default;
    display: inline-block;
    color: #636363;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
}

.property-wrapper .item {
  white-space: normal;
}
.property-wrapper .item p {
    margin: 0;
}


@media screen and (min-width: 800px) {
    .property-wrapper {
/*        flex-basis: 10%; */
        white-space: nowrap;
    }
}
