.property-list {
    display: flex;
    flex-flow: wrap;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.property-wrapper {
    display: flex;
    align-items: flex-start;
    flex: 1 auto;
    flex-direction: column;
    flex-basis: calc(50% - 2.5px);
    padding: 10px 20px;
    background-color: var(--color-gunmetal-dark);
    border: 1px solid var(--color-black-light);
}

.property-wrapper.large {
    min-width: 100%;
    max-width: none;
}

.property-wrapper.health {
    max-width: 160px;
}

.property-key-wrapper {
    cursor: default;
    display: inline-block;
    color: var(--color-gray-light);
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
}

.property-wrapper .item {
    white-space: normal;
}

.property-wrapper .item p {
    margin: 0;
}

@media screen and (width >= 800px) {
    .property-wrapper {
        /*        flex-basis: 10%; */
        white-space: nowrap;
    }
}
