.trader-information-grid {
    padding-top: 10px;
}

.trader-information-grid h1 {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.trader-information-grid h1,
.trader-icon-and-link-wrapper {
    margin: 0 0 10px 0;
}

.trader-information-icon {
    width: 64px;
    height: 64px;
    cursor: zoom-in;
}

.trader-icon-and-link-wrapper {
    align-items: flex-start;
    display: none;
    flex-wrap: wrap;
    justify-content: flex-end;
    cursor: zoom-in;
}

@media screen and (min-width: 800px) {
    .trader-information-grid {
        padding-top: 20px;
        display: flex;
    }

    .trader-information-wrapper {
        flex-grow: 1;
    }

    .trader-information-grid .property-list {
        margin: 0 1em 0 0;
        flex-direction: column;
    }

    .trader-information-grid h1 img {
        display: none;
    }

    .trader-details {
        margin-right: 1em;
    }

    .trader-information-grid h1,
    .trader-icon-and-link-wrapper {
        margin: 0;
    }

    .trader-icon-and-link-wrapper {
        display: flex;
    }

    .trader-icon-and-link-wrapper img {
        max-height: 200px;
    }
}