.footer-wrapper {
    background-color: #000;
    display: flex;
    flex-flow: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
    padding: 40px 10px 50px 10px;
}

.footer-wrapper svg,
.footer-wrapper .supporter-wrapper svg {
    height: 20px;
    width: 20px;
}

.footer-wrapper img {
    margin-left: 5px;
    vertical-align: sub;
}

.footer-section-wrapper {
    width: 100%;
}

.about-section-wrapper svg {
    position: relative;
    top: 5px;
}

.copyright-wrapper {
    font-size: 12px;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 800px) {
    .footer-section-wrapper {
        width: 20%;
    }
}

@keyframes discord {
    0% {
        height: 70px;
        width: 250px;
    }

    100% {
        height: 500px;
        width: 350px;
    }
}

@keyframes discord-c {
    0% {
        height: 500px;
        width: 350px;
    }

    100% {
        height: 70px;
        width: 250px;
    }
}

.discord {
    animation-name: discord-c;
    animation-duration: 2s;
    animation-play-state: pause;
    float: left;
    height: 70px;
    width: 250px;
}

.discord:hover {
    height: 500px;
    width: 350px;
    float: left;
    animation-name: discord;
    animation-duration: 2s;
    animation-play-state: pause;
}

.stellate-wrapper img {
    width: 150px;
    margin: 5px 0 0 0;
}
