.MuiTreeItem-iconContainer {
    width: auto !important;
    justify-content: normal !important;
    margin-right: 0px !important;
}

.inventory {
    display: flow-root;
}

.grid-container {
    display: grid;
    float: left;
    gap: 10px;
}

.grid-container.main {
    grid-template-columns: auto auto auto;
}

.grid-container.side {
    margin-left: 10px;
    grid-template-columns: auto;
}

.grid-container > div {
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 20px;
}

.weapon {
    grid-column: 1 / span 2;
}