.cost-with-barter-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.cost-barter-details-wrapper > div {
    line-height: 20px;
}

.cost-with-barter-wrapper h3 {
    text-align: center;
    width: 100%;
}

.cost-with-barter-wrapper .reward-image-wrapper img {
    height: 48px;
    width: 48px;
}

.cost-with-barter-wrapper .cost-item-wrappper {
    margin-bottom: 10px;
}

.cost-barter-details-wrapper a {
    font-size: 16px;
}

.cost-barter-details-wrapper .price-wrapper {
    white-space: nowrap;
}
