.reset-button {
    padding: .2rem;
    border-radius: 4px;
    margin-top: 20px;
}

.currency-input {
    display: flex;
}

.currency-input .icon-with-text {
    margin: 10px;
}
.currency-input {
    margin-right: 10px;
    width: 264px;
    margin-top: 10px;
}

.error {
    color: #cd1e2f;
}