.reset-button {
    padding: 0.2rem;
    border-radius: 4px;
    margin-top: 20px;
}

.currency-input {
    display: flex;
    margin-right: 10px;
    width: 264px;
    margin-top: 10px;
}

.currency-input .icon-with-text {
    margin: 10px;
}

.error {
    color: var(--color-red);
}

.gp-coin {
    font-weight: bold;
    margin: 10px;
    width: 22px;
    height: 22px;
    background-color: var(--color-gold-one);

    /* 8-sided octagon shape */
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

    /* Center the text perfectly */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Typography */
    color: #111;
    font-size: small;
    cursor: default;
}
