.boss-list-wrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.boss-page-wrapper {
    min-height: 0;
}

.boss-list-wrapper img {
    height: 128px;
    width: 128px;
}

@media screen and (min-width: 700px) {
}
