.data-table,
.data-table-filters-wrapper {
    border: 0;
    border-collapse: collapse;
    max-width: 1200px;
    margin: 0 auto;
}

.data-table-filters-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.data-table tbody tr {
    height: 69px;
}

.data-cell {
    padding: 0 15px;
}

.data-table .center-content {
    text-align: center;
}

.data-table .nowrap-content {
    white-space: nowrap;
}

.data-table .table-image {
    max-height: 64px;
    max-width: 64px;
}

.data-table tr:hover td,
.data-table tbody tr.expanded td {
    background-color: #292626;
}

.arrow-icon,
.arrow-placeholder {
    fill: #c7c5b3;
    height: 10px;
    width: 10px;
}

.arrow-icon.arrow-up {
    transform: rotate(180deg);
}

.arrow-icon.arrow-right {
    transform: rotate(-90deg);
}

.data-table .header-sort-icon {
    height: 10px;
}