:root {
    --menu-height: 47px;
}

@font-face {
    font-family: 'bender';
    src: url('./fonts/bender.woff2') format('woff2'),
        url('./fonts/bender.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    background-color: #292626;
    color: #c7c5b3;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body * {
    font-family: 'bender', Helvetica, sans-serif;
    box-sizing: border-box;
}

iframe {
    border: 0;
    height: 100%;
    width: 100%;
}

.control-wrapper input,
.control-wrapper select {
    border: 0;
    height: 40px;
    width: 100%;
}

input[name="session-id"] {
    padding-left: 20px;
}

select {
    padding: 10px;
    margin-bottom: 2vh;
}

#root,
.App {
    height: 100%;
}

.menu {
    background-color: #000;
    border-radius: 3px;
    color: #9a8866;
    display: none;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.branding {
    border-radius: 3px;
    margin: 0 10px;
    padding: 1px 8px;
}

.menu button {
    font-size: 20px;
}

.menu .submenu-wrapper {
    background-color: #000;
    border-radius: 3px;
    display: inline-block;
    margin: 0 10px;
    padding: 1px 8px;
    position: relative;
}

.menu a,
.menu button {
    border: 0;
    color: #9a8866;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
}

.menu .submenu-wrapper ul {
    background-color: #000;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: none;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
}

.submenu-wrapper li {
    align-items: center;
    display: flex;
}

.submenu-wrapper input {
    cursor: pointer;
    margin: 0 0 0 18px;
}

.menu .submenu-wrapper ul a {
    border-radius: 3px;
    margin: 0 10px;
    padding: 1px 8px;
}

.menu a:hover,
.menu button:hover,
.menu .submenu-wrapper:hover {
    color: #000;
    cursor: pointer;
    background-color: #9a8866;
}

.menu .submenu-wrapper:hover > a {
    color: #000;
}

.menu .submenu-wrapper:hover ul {
    display: block;
}

.menu li:hover button {
    cursor: pointer;
    /* text-decoration: underline; */
}

.external-link {
    border-radius: 3px;
    margin: 0 10px;
    padding: 1px 8px;
}

.menu .last-link {
    float: right;
    position: relative;
}

.menu svg {
    height: 20px;
    width: 20px;
    position: relative;
    top: 3px;
    margin-right: 8px;
}

.menu .last-link:hover .supporters-wrapper {
    display: block;
}

.supporters-wrapper {
    background-color: #000;
    border-radius: 3px;
    color: #fff;
    cursor: default;
    display: none;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    top: 28px;
    z-index: 1;
}

.supporter-wrapper svg:first-of-type {
    margin-left: 10px;
}

.supporter-wrapper {
    font-size: 14px;
}

.update-label {
    font-size: 10px;
    text-align: center;
    color: #ccc;
}

.display-wrapper {
    display: none;
    min-height: calc(100vh - var(--menu-height));
    position: relative;
}

.updated-label {
    color: #ccc;
    font-size: 10px;
    left: 4px;
    position: absolute;
    top: 2px;
}

.time-wrapper {
    background-color: rgba(0,0,0,0.5);
    padding: 10px 20px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    text-align: right;
}

.time-wrapper div {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.map-image-wrapper {
    height: calc(100vh - var(--menu-height));
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-image {
    /* left: 50%; */
    max-height: 100%;
    max-width: 100%;
    /* position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%); */
    object-fit: contain;
}

.barter-wrapper {
    background-color: #000;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    --grid-base: 50px;
}

.barter-group-wrapper {
    background-color: #292626;
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 0;
}

.barter-group-wrapper.filter-wrapper {
    padding: 10px 20px;
    line-height: 24px;
}

.barter-group-wrapper .text-label {
    flex-grow: 1;
}

.barter-group-wrapper input {
    margin-left: 10px;
}

.barter-group-title {
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-flow: wrap;
    width: 10vw;
}

.barter-class-wrapper {
    padding: 12px 0 0 0;
    width: 100%;
}

.price-range-wrapper {
    font-size: 14px;
    width: 100%;
}

.barter-group-items {
    display: grid;
    grid-auto-rows: var(--grid-base);
    grid-template-columns: repeat( auto-fill, minmax(var(--grid-base), 1fr ) );
    margin: auto;
    width: 90vw;
}

.barter-item {
    position: relative;
}

.barter-item:hover .barter-item-tooltip {
    right: 100%;
    opacity: 1;
}

.barter-item img {
    height: 100%;
    width: 100%;
}

.barter-item-tooltip {
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    font-size: 12px;
    opacity: 0;
    padding: 5px 10px;
    pointer-events: none;
    position: absolute;
    right: 90%;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    white-space: nowrap;
    z-index: 1;
}

.barter-icon-1x-1x {
    height: var(--grid-base);
    width: var(--grid-base);
}

.barter-icon-1x-2x {
    height: calc(2 * var(--grid-base));
    width: var(--grid-base);
    grid-row-end: span 2;
}

.barter-icon-1x-3x {
    height: calc(2 * var(--grid-base));
    width: var(--grid-base);
    grid-row-end: span 2;
}

.barter-icon-2x-1x {
    height: calc(2 * var(--grid-base));
    width: var(--grid-base);
    grid-row-end: span 2;
}

.barter-icon-2x-2x {
    height: calc(2 * var(--grid-base));
    width: calc(2 * var(--grid-base));
    grid-row-end: span 2;
    grid-column-end: span 2;
}

.barter-icon-2x-3x {
    height: calc(2 * var(--grid-base));
    width: calc(3 * var(--grid-base));
    grid-row-end: span 2;
    grid-column-end: span 3;
}

.barter-icon-2x-4x {
    height: calc(2 * var(--grid-base));
    width: calc(4 * var(--grid-base));
    grid-row-end: span 2;
    grid-column-end: span 4;
}

.control-wrapper {
    flex-flow: column;
    display: flex;
    min-height: 100%;
    padding: 15px;
}

.control-wrapper span {
    width: 100%;
}

.control-section {
    display: flex;
    flex-flow: wrap;
}

.control-section select {
    width: 70%;
}

.control-section button {
    border: 0;
    height: 40px;
    margin-left: auto;
    padding: 0;
    width: 28%;
}

.control-section .full-width {
    width: 100%;
}

.info-wrapper {
    margin-top: auto;
    padding: 20px;
    text-align: center;
}

.connection-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.connection-wrapper input {
    border-radius: 0;
    text-overflow: ellipsis;
    text-transform: uppercase;
    width: calc(50% - 2px);
}

.connection-wrapper input[type="submit"]:active {
    position: relative;
    top: 1px;
}

.id-wrapper {
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    color: #fff;
    display: none;
    font-family: bender;
    font-size: 30px;
    line-height: 20px;
    padding: 10px 40px;
    position: fixed;
}

.id-wrapper-left {
    left: 0;
}
.id-wrapper-right {
    right: 0;
}

.session-question {
    /* background-color: black; */
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 30px;
}

.session-question:hover .session-popup {
    display: block;
}

.session-popup {
    display: none;
    position: absolute;
    bottom: 0;
    width: 30vw;
    background-color: rgba(0,0,0,0.8);
    padding: 15px;
    font-size: 16px;
}

.id-wrapper-left .session-popup {
    left: 0;
}

.id-wrapper-right .session-popup {
    right: 0;
}

.session-switch-side {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #ccc;
}
.session-switch-side:hover,
.session-switch-side:focus,
.session-switch-side:active {
    text-decoration: none;
}

.id-wrapper svg {
    fill: #c7c5b3;
    height: 35px;
    margin-right: 1vh;
    width: 35px;
}

.session-id {
    display: inline-block;
    line-height: 23px;
    position: relative;
    top: -6px;
}

@media screen and (min-width: 710px){
    .menu {
        display: block;
    }

    .id-wrapper {
        display: block;
    }

    .display-wrapper {
        display: block;
    }

    .control-wrapper {
        display: none;
    }
}
