:root {
    --display-height: 100%;
}

body {
    background-color: #292626;
    background-image: url('images/background.png');
    color: #c7c5b3;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body * {
    font-family: 'bender', Helvetica, sans-serif;
    box-sizing: border-box;
}

iframe {
    border: 0;
    height: 100%;
    width: 100%;
}

input[name="session-id"] {
    padding-left: 20px;
}

select {
    padding: 10px;
    margin-bottom: 2vh;
}

a {
    color: #9a8866;
    text-decoration: none;
}

button {
    background-color: #9a8866;
    border: 0;
    border-radius: 4px;
    color: #000;
}

cite {
    display: block;
    font-size: 14px;
}

.update-label {
    font-size: 10px;
    text-align: center;
    color: #ccc;
}

.display-wrapper {
    height: var(--display-height);
    margin: 0 10px;
    max-width: 1920px;
    position: relative;
}

.display-wrapper.data-wrapper {
    height: auto;
    overflow-x: scroll;
}

.page-wrapper {
    max-width: 1200px;
    margin: 0 10px;
}

.page-wrapper svg {
    height: 20px;
    margin-right: 8px;
    position: relative;
    top: 3px;
    width: 20px;
}

.updated-label {
    color: #ccc;
    font-size: 10px;
    left: 4px;
    position: absolute;
    top: 2px;
}

.time-wrapper {
    background-color: rgba(0,0,0,0.5);
    padding: 10px 20px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    text-align: right;
}

.time-wrapper a {
    color: inherit;
}

.time-wrapper div {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.map-image-wrapper {
    height: var(--display-height);
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.id-wrapper {
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    color: #fff;
    display: none;
    font-family: bender;
    font-size: 30px;
    line-height: 20px;
    padding: 10px 40px;
    position: fixed;
}

.id-wrapper-left {
    left: 0;
}
.id-wrapper-right {
    right: 0;
}

.session-question {
    /* background-color: black; */
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 30px;
}

.session-question:hover .session-popup {
    display: block;
}

.session-popup {
    display: none;
    position: absolute;
    bottom: 0;
    width: 30vw;
    background-color: rgba(0,0,0,0.8);
    padding: 15px;
    font-size: 16px;
}

.id-wrapper-left .session-popup {
    left: 0;
}

.id-wrapper-right .session-popup {
    right: 0;
}

.session-switch-side {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #ccc;
}

.session-switch-side:hover,
.session-switch-side:focus,
.session-switch-side:active {
    text-decoration: none;
}

.id-wrapper svg {
    fill: #c7c5b3;
    height: 35px;
    margin-right: 1vh;
    width: 35px;
}

.session-id {
    display: inline-block;
    line-height: 23px;
    position: relative;
    top: -6px;
}

.icon-with-text {
    vertical-align: middle;
    margin-right: 8px;
    margin-left: 8px;
}

.center-title {
    text-align: center;
}

.screen-link {
    margin-left: 8px;
    margin-right: 8px;
}

.table-wrapper {
    max-width: 100%;
    overflow-x: scroll;
}

@media screen and (min-width: 900px) {
    .table-wrapper {
        overflow-x: initial;
    }
}

@media screen and (min-width: 710px){

    .id-wrapper {
        display: block;
    }

    .control-wrapper {
        display: none;
    }
}

@media screen and (min-width: 1220px){
    .page-wrapper {
        margin: 0 auto;
    }
}

