.crafts-headline-wrapper {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    white-space: nowrap;
}

.crafts-page-title {
    flex-grow: 1;
    text-align: center;
}

.source-wrapper {
    font-size: 14px;
}

.station-toggle-handle {
    width: 26px;
}

@media screen and (min-width: 710px) {
    .crafts-page-title {
        margin: 0;
        text-align: left;
    }
}
