.wipe-length-cell {
    align-items: center;
    display: flex;
    justify-content: center;
}

.wipe-length-bar-wrapper {
    /* display: inline-block; */
    height: 10px;
    width: 200px;
    background-color: var(--highlight-gold-one);
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
}

.wipe-length-bar {
    height: 10px;
    border-radius: 10px;
    background-color: var(--highlight-gold-two);
}
