name: branch-deploy

on:
  issue_comment:
    types: [ created ]

# Permissions needed for reacting and adding comments for IssueOps commands
permissions:
  pull-requests: write
  deployments: write
  contents: write

jobs:
  deploy:
    environment: secrets
    if: ${{ github.event.issue.pull_request }} # only run on pull request comments
    runs-on: ubuntu-latest

    steps:

      - uses: github/branch-deploy@30278bad08157ca078a7ae2599ac8d284c9a4297 # pin@v2.0.4
        id: branch-deploy-dev
        with:
          trigger: ".deploy dev"
          environment: "development"

      - uses: github/branch-deploy@30278bad08157ca078a7ae2599ac8d284c9a4297 # pin@v2.0.4
        if: ${{ steps.branch-deploy-dev.outputs.triggered != 'true' }}
        id: branch-deploy

      - name: Checkout - prod
        if: ${{ steps.branch-deploy.outputs.continue == 'true' }}
        uses: actions/checkout@7884fcad6b5d53d10323aee724dc68d8b9096a2e # pin@v2
        with:
          ref: ${{ steps.branch-deploy.outputs.ref }}

      - name: Checkout - dev
        if: ${{ steps.branch-deploy-dev.outputs.continue == 'true' }}
        uses: actions/checkout@7884fcad6b5d53d10323aee724dc68d8b9096a2e # pin@v2
        with:
          ref: ${{ steps.branch-deploy-dev.outputs.ref }}

      - name: Install
        if: ${{ steps.branch-deploy.outputs.continue == 'true' || steps.branch-deploy-dev.outputs.continue == 'true' }}
        run: npm ci

      - name: Build
        if: ${{ steps.branch-deploy.outputs.continue == 'true' || steps.branch-deploy-dev.outputs.continue == 'true' }}
        run: npm run build

      - name: deploy - dev
        id: dev-deploy
        if: ${{ steps.branch-deploy-dev.outputs.continue == 'true' && steps.branch-deploy-dev.outputs.noop != 'true' }}
        uses: cloudflare/wrangler-action@4c10c1822abba527d820b29e6333e7f5dac2cabd # pin@2.0.0
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          command: pages publish build/ --project-name=tarkov-dev

      - name: deploy - prod
        id: prod-deploy
        if: ${{ steps.branch-deploy.outputs.continue == 'true' && steps.branch-deploy.outputs.noop != 'true' }}
        uses: cloudflare/wrangler-action@4c10c1822abba527d820b29e6333e7f5dac2cabd # pin@2.0.0
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          command: pages publish build/ --project-name=tarkov-dev --branch=main

      # Try to save output of the cloudflare jobs
      # - name: dev-deploy output
      #   if: ${{ steps.branch-deploy-dev.outputs.continue == 'true' && steps.branch-deploy-dev.outputs.noop != 'true' }}
      #   run: |
      #     DEV_OUTPUT="\`\`\`text\n${{ steps.dev-deploy.outputs.stdout }}\n\`\`\`"
      #     echo 'DEPLOY_MESSAGE<<EOF' >> $GITHUB_ENV
      #     echo "$DEV_OUTPUT" >> $GITHUB_ENV
      #     echo 'EOF' >> $GITHUB_ENV

      # - name: prod-deploy output
      #   if: ${{ steps.branch-deploy.outputs.continue == 'true' && steps.branch-deploy.outputs.noop != 'true' }}
      #   run: |
      #     DEV_OUTPUT="\`\`\`text\n${{ steps.prod-deploy.outputs.stdout }}\n\`\`\`"
      #     echo 'DEPLOY_MESSAGE<<EOF' >> $GITHUB_ENV
      #     echo "$DEV_OUTPUT" >> $GITHUB_ENV
      #     echo 'EOF' >> $GITHUB_ENV
