name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v3.5.2

      # check to ensure all JSON files are valid in the repository
      - name: json-yaml-validate
        uses: GrantBirki/json-yaml-validate@v1.3.0
        with:
          comment: "true"

      # check the node version from the .node-version file
      - name: fetch node version
        id: node-version
        run: |
          version=$(cat .node-version)
          echo "version=${version}" >> $GITHUB_OUTPUT
      - uses: actions/setup-node@v3.6.0
        with:
          node-version: ${{ steps.node-version.outputs.version }}
          cache: 'npm'

      - name: install dependencies
        run: npm ci

      - name: Get files needed
        run: npm run prebuild
        env:
          GITHUB_TOKEN: ${{ secrets.HIDEOUT_BOT_TOKEN }}

      - name: test
        run: npm run test
