name: New Pull Request

on:
  pull_request:
    branches:
      - main

permissions:
  pull-requests: write

jobs:
  comment:
    if: github.event_name == 'pull_request' && github.event.action == 'opened'
    runs-on: ubuntu-latest

    steps:
      # Comment on new PR requests with deployment instructions
      - uses: actions/checkout@v5
      - name: comment
        uses: GrantBirki/comment@v2.1.1
        continue-on-error: true
        with:
          file: .github/new-pr-comment.md
