.reward-wrapper {
    align-items: center;
    display: flex;
}

.reward-info-wrapper {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

.reward-info-wrapper > div {
    width: 100%;
}

.reward-info-wrapper div:first-child {
    white-space: nowrap;
}

@media screen and (min-width: 700px) {
    .reward-info-wrapper div:first-child {
        white-space: initial;
    }
}